body{
    background-color: rgb(135, 105, 137);
}

.cnt3{
    transform: translate(38%);
    margin-top:1%;
}

.card-wrap3{
    background-color: #bab4ef;
    width:450px;
    height:500px;
    border-color: black;
    border-radius:20px;
    border-style: groove;
}

.txt3{
    transform: translate(24%,30%);
    margin-bottom:50px;
    width:300px;
}
.hd2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(9%);
}

.btn{
    transform: translate(25%);
    margin-bottom:10%;
    width:140px;
    border-width:10%;
    color: black;
}