{% extends 'base.html' %}
  {% block body %}
  <div class="cnt3">
  <div class="hd2">
    <h2>Add Movie</h2>
  </div>
    <div class="card-wrap3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="txt3">
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="name" placeholder="Movie Name">
          </div>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="desc" placeholder="Movie Description">
          </div>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="year" placeholder="Movie Year">
          </div>
        <p><b>Upload image of the Movie</b></p>
        <div class="input-group input-group-sm mb-3">
          <input type="file" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="img">
        </div><br>
      <div class="btn mg-5">
        <input type="submit" class="btn btn-outline-secondary" value="submit">    
      </div>
      {% for msg in messages %}
      <p style="color: red;"><b>{{msg}}</b></p>
      {% endfor %}
    </div>
    </form>
  </div>
</div> 
{% endblock %}
