.cnt5{
    transform: translate(38%);
    margin-top:10%;
}

.card-wrap5{
    transform: translate(-25%);
    background-color: #bab4ef;
    width:750px;
    height:200px;
    border-color: black;
    border-radius:20px;
    border-style: groove;
}

.hd5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(14%);
    margin-bottom:20px;
}

span {
    content: "\26A0";
}
