.cnt2{
    transform: translate(38%);
    margin-top:10%;
}

.card-wrap2{
    transform: translate(-25%);
    background-color: #bab4ef;
    width:750px;
    height:400px;
    border-color: black;
    border-radius:20px;
    border-style: groove;
}

.txt2{
    transform: translate(10%);
    margin-top:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hd3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(5%);
}
